---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rhsso-operator
  namespace: "{{ workshop_openshift_namespace_rhsso }}"
spec:
  channel: stable
  installPlanApproval: Automatic
  name: rhsso-operator
  source: "{{ workshop_openshift_source_rhsso }}"
  sourceNamespace: openshift-marketplace