---
apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  labels:
    app: sso
  name: rhsso
  namespace: "{{ workshop_openshift_namespace_rhsso }}"
spec:
  externalAccess:
    enabled: true
  instances: 1