---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: sso
  name: credential-rhsso
  namespace: "{{ t_project_name }}"
type: Opaque
stringData:
  ADMIN_USERNAME: "{{ workshop_rhsso_admin_user_name }}"
  ADMIN_PASSWORD: "{{ workshop_rhsso_admin_password }}"